.pager_container a{
		font-family: "微软雅黑",Arial,"宋体",sans-serif;
		font-size:12px;
	    border-left: 1px solid #E5E5E5;
	    color: black;
	    cursor: pointer;
	    display: inline-block;
	    margin-right: -1px;
	    padding: 0 6px;
	    text-decoration: none;
	
}

.pager_step_set{
	position:relative;
	margin-right:5px;
}

.pager_container a:hover{
	background-color:#577abe;
	color:white;
}

.pager_current{
	background-color:#4E72B8;
}

a.pager_current{
	color:white;
}

.pager_totalcount_show{
	position:relative;
	margin-right:10px;
}

.pager_jump_label{
	margin-left:5px;
}

.pager_jump{
	width:20px;
	margin-left:5px;
}
